USE [master]
GO
/****** Object:  Database [Ads_db]    Script Date: 02.02.2025 22:59:08 ******/
CREATE DATABASE [Ads_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ads_db', FILENAME = N'D:\my_bases\Ads_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ads_db_log', FILENAME = N'D:\my_bases\Ads_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ads_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ads_db]
GO
/****** Object:  Table [dbo].[Партнёр]    Script Date: 02.02.2025 22:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Партнёр](
	[ID] [int] NOT NULL,
	[ТипПартнёра] [int] NOT NULL,
	[Наименование] [nvarchar](30) NOT NULL,
	[Директор] [nvarchar](100) NOT NULL,
	[ЭлектроннаяПочта] [nvarchar](30) NULL,
	[Телефон] [varchar](18) NULL,
	[ЮридическийАдрес] [nvarchar](100) NOT NULL,
	[ИНН] [nvarchar](10) NULL,
	[Рейтинг] [int] NULL,
 CONSTRAINT [PK__Партнёр__3209AFE07FF6C028] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПродажиПартнёра]    Script Date: 02.02.2025 22:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПродажиПартнёра](
	[ID] [int] NOT NULL,
	[Партнёр] [int] NOT NULL,
	[Продукт] [int] NOT NULL,
	[КоличествоПродукта] [int] NOT NULL,
	[ДатаПродажи] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукт]    Script Date: 02.02.2025 22:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукт](
	[ID] [int] NOT NULL,
	[ТипПродукта] [int] NOT NULL,
	[Название] [nvarchar](200) NOT NULL,
	[Артикул] [int] NOT NULL,
	[МинКоличество] [float] NOT NULL,
	[ТипМатериала] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипМатериала]    Script Date: 02.02.2025 22:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипМатериала](
	[ID] [int] NOT NULL,
	[МатериаловыйТип] [nvarchar](50) NOT NULL,
	[ПроцентОтказов] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипПартнёра]    Script Date: 02.02.2025 22:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипПартнёра](
	[ID] [int] NOT NULL,
	[Тип] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипПродукта]    Script Date: 02.02.2025 22:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипПродукта](
	[ID] [int] NOT NULL,
	[ПродуктовыйТип] [nvarchar](25) NOT NULL,
	[Коэффициент] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Партнёр]  WITH CHECK ADD  CONSTRAINT [FK_Партнёр_ТипПартнёра] FOREIGN KEY([ТипПартнёра])
REFERENCES [dbo].[ТипПартнёра] ([ID])
GO
ALTER TABLE [dbo].[Партнёр] CHECK CONSTRAINT [FK_Партнёр_ТипПартнёра]
GO
ALTER TABLE [dbo].[ПродажиПартнёра]  WITH CHECK ADD  CONSTRAINT [FK_ПродажиПартнёра_Партнёр] FOREIGN KEY([Партнёр])
REFERENCES [dbo].[Партнёр] ([ID])
GO
ALTER TABLE [dbo].[ПродажиПартнёра] CHECK CONSTRAINT [FK_ПродажиПартнёра_Партнёр]
GO
ALTER TABLE [dbo].[ПродажиПартнёра]  WITH CHECK ADD  CONSTRAINT [FK_ПродажиПартнёра_Продукт] FOREIGN KEY([Продукт])
REFERENCES [dbo].[Продукт] ([ID])
GO
ALTER TABLE [dbo].[ПродажиПартнёра] CHECK CONSTRAINT [FK_ПродажиПартнёра_Продукт]
GO
ALTER TABLE [dbo].[Продукт]  WITH CHECK ADD  CONSTRAINT [FK_Продукт_ТипМатериала] FOREIGN KEY([ТипМатериала])
REFERENCES [dbo].[ТипМатериала] ([ID])
GO
ALTER TABLE [dbo].[Продукт] CHECK CONSTRAINT [FK_Продукт_ТипМатериала]
GO
ALTER TABLE [dbo].[Продукт]  WITH CHECK ADD  CONSTRAINT [FK_Продукт_ТипПродукта] FOREIGN KEY([ТипПродукта])
REFERENCES [dbo].[ТипПродукта] ([ID])
GO
ALTER TABLE [dbo].[Продукт] CHECK CONSTRAINT [FK_Продукт_ТипПродукта]
GO
USE [master]
GO
